@model DabAflevering2.ViewModels.GuestReviews
@{
    ViewData["Title"] = "GuestReview";
}

<h1>Guest Reviews</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Guest
            </th>
            <th>
                Table
            </th>
            <th>
                Review
            </th>

            <th>
                Resturent
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Guests)
        {
            int count = 0;
            <tr>
                
                <td>
                    @item.Name
                </td>
                
                <td>
                    @item.Table.TableId
                    
                </td>

                <td>
                    <!-- du kan godt skrive item.Review så viser den review ID men den fatter ikke at få texten.. prøvede at gøre som i Index.html filen men det virkede ikke-->
                    @item.Review.Text
                </td>

                <td>
                    @item.Table.Resturent.Name
                </td>

            </tr>
        }
    </tbody>
</table>

